</form>
<h1>Мой профиль</h1>

<p>
  <strong>Имя:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Фамилия:</strong>
  <%= @employee.second_name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @employee.rating %>
</p>
<% if employee_signed_in? and @employee.id == current_employee.id %>
<% end %>
<input type="button" value="Назад" onClick='location.href="/"'>
</form>