</form>
<h1>employee page</h1>
<input type="button" value="Выйти" onClick='location.href="http://localhost:3000"'>

<p>
  <strong>Title:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @employee.second_name %>
</p>
</form>