</form>
<h1>My profile</h1>

<p>
  <strong>First_name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Second_name:</strong>
  <%= @employee.second_name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @employee.rating %>
</p>
<% if employee_signed_in? and @employee.id == current_employee.id %>
<% end %>
<input type="button" value="Назад" onClick='location.href="/"'>
</form>