</form>
<h1>employer page</h1>
<input type="button" value="Выйти" onClick='location.href="http://localhost:3000"'>

<p>
  <strong>Title:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @employer.email %>
</p>
</form>