<% if employer_signed_in? %>
</form>
<h1>Мой профиль</h1>

<p>
  <strong>Имя:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Почта:</strong>
  <%= @employer.email %>
</p>
</form>
<%else %>
  <% redirect_to root_path %>
<% end %>

<input type="button" value="Назад" onClick='location.href="/"'>