<% if employer_signed_in? or employee_signed_in? %>
  <meta http-equiv="refresh" content="1;URL=/" />
<% else %>
</form>
<h1>Регистрация</h1>
<input type="button" value="Выйти" onClick='location.href="/"'>
<input type="button" value="Работник" onClick='location.href="/registration/vJober"'>
<input type="button" value="Работодатель" onClick='location.href="/registration/Jobotodatel"'>
</form>
<% end %>