</form>
<h1>Sign Up page</h1>
<input type="button" value="Выйти" onClick='location.href="http://localhost:3000"'>
<input type="button" value="вJ∅Bер" onClick='location.href="http://localhost:3000/registration/vJober"'>
<input type="button" value="J∅Bотодатель" onClick='location.href="http://localhost:3000/registration/Jobotodatel"'>
</form>
