<h2>Log in</h2>

<input type="button" value="Войти как работник" onClick='location.href="employees/sign_in"'>

<input type="button" value="Войти как работодатель" onClick='location.href="employers/sign_in"'>

<input type="button" value="К началу" onClick='location.href="http://localhost:3000"'>