</form>
<h1>Sign Up page</h1>
<input type="button" value="Выйти" onClick='location.href="http://localhost:3000"'>
<input type="button" value="вJOBер" onClick='location.href="http://localhost:3000/login/new/employee"'>
<input type="button" value="JOBотодатель" onClick='location.href="http://localhost:3000/login/new/employer"'>
</form>
