</form>
<h1>Employer registration</h1>
<input type="button" value="Выйти" onClick='location.href="http://localhost:3000"'>
<input type="button" value="Назад" onClick='location.href="http://localhost:3000/login/new"'>
<input type="button" value="Зарегистрироваться">
</form>
