<form>
  <h1>Main Page</h1>
  <input type="button" value="Войти" onClick='location.href="http://localhost:3000/login"'>
  <input type="button" value="Регистрация" onClick='location.href="http://localhost:3000/login/new"'>
</form>